{%load static%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Register</title>

		<!-- CSS -->
        <link href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-free-6.2.1-web/css/all.css' %}">

        <!-- JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="{% static 'bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js' %}" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

	</head>
	<body>
		<div class="card text-bg-dark">
			<img src="{% static 'images/bg_login.jpg' %}" class="card-img" alt="#">
			<div class="card-img-overlay">
				<div class="card bg-warning container text-center text-dark mt-5 rounded-5">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-6">
								<h3 class="card-title">Đăng ký tài khoản</h3>
								<p class="card-text">Hãy đăng ký để nhận nhiều ưu đãi hấp dẫn</p>
								<form method="POST">
									{% csrf_token %}

									<div class="mb-4">
										<label for="{{ form.username.id_for_label }}">Username:</label>
									    {{ form.username }}
									    {{ form.username.errors }}
									</div>

									<div class="mb-4">
										<label for="{{ form.email.id_for_label }}">Email address:</label>
								    	{{ form.email }}
								    	{{ form.email.errors }}
									</div>

									<div class="mb-4">
										<label for="{{ form.password1.id_for_label }}">Password:</label>
								    	{{ form.password1 }}
								    	{{ form.password1.errors }}
									</div>

									<div class="mb-4">
										<label for="{{ form.password2.id_for_label }}">Re-Password:</label>
									    {{ form.password2 }}
									    {{ form.password2.errors }}
									</div>

									<input type="submit" class="btn btn-outline-primary btn-block w-50" name="register" value="Đăng ký">
								</form>

								<a href="{% url 'login' %}" class="btn btn-outline-primary mt-3 w-50">Đăng nhập</a>
							</div>

							<div class="col-sm-6">
								<h3 class="card-title">DMouse Books!</h3>
								<span class="card-text container">E-Books giúp bạn đọc sách tiện lợi và tiết kiệm. Mua sách cực kỳ dễ dàng với Book store.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>