.form-login{
	position: absolute;
    top: 150px;
    width: 900px;
    height: 350px;
    background-color: orange;
    border-radius: 15px;
    margin-left: 20%;
}

.login-text{
	margin-top: 30px;
	margin-left: 10%;
	display: block;
}

.input-group{
	display: block;
}

.input-account{
	width: 300px;
    height: 40px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.btn-account{
	height: 45px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
}

.sologan{
	margin-top: 100px;
}

.form-register{
	position: absolute;
    top: 150px;
    width: 900px;
    height: 500px;
    background-color: orange;
    border-radius: 15px;
    margin-left: 20%;
}