a{
    text-decoration: none;
}

.text-about{
    position: absolute;
    top: 120px;
    right: 30px;
}

.text-content-about{
    position: absolute;
    top: 200px;
    right: 30px;
    color: black;
}

.about-2{
    background-color: #EEEEEE;
}