{% load static %}
{% load i18n %} 
{% load humanize %} 
{% load tz %}   
           
<div class="modal fade" id="OrderCreatemodalsId" data-backdrop="static" data-keyboard="true"  tabindex="-1" role="dialog" aria-labelledby="OrderCreatemodalsId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content" >
            <div class="modal-header bg-info border-primary">
                <h3 class="modal-title">Tạo Đơn Hàng</h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" enctype="multipart/form-data" id="ProductCreateModalsFormId" data-uuid="">
                    <h6 class="heading-small text-muted mb-4">Thông tin chung</h6>
                    <div class="row gx-2 mb-2">
                        <div class="mb-1 col-xl-4 d-none">
                            <label class="small mb-1">Uuid</label>
                            <input id="uuidCreateModalInputId" name="product" class="form-control" readOnly type="text">
                        </div>
                        <div class="mb-1 col-xl-6">
                            <label class="small mb-1">Tên sản phẩm</label>
                            <input id="name_productCreateModalInputId" name="name_product" class="form-control" readOnly type="text">
                        </div>
                        <div class="mb-1 col-xl-2">
                            <label class="small mb-1">Số lượng</label>
                            <input id="quantityCreateModalInputId" name="quantity" class="dvd-required form-control" value="1" required type="text">
                        </div>
                        <div class="mb-1 col-xl-4">
                            <label class="small mb-1">Giá Sản phẩm</label>
                            <input id="price_productCreateModalInputId" name="price" class="form-control" readOnly type="text" >
                        </div>
                    </div>
                </form>
                <form method="POST" action="" enctype="multipart/form-data" id="OrderCreateModalsFormId" data-uuid="">
                    <div class="mb-1 col-xl-3">
                        <label class="small mb-1">Trạng thái</label>
                        <select id="statusCreateModalInputId" name="status" class="form-control" value="" disable type="text"></select>
                    </div>
                </form>
                <hr>
                <form method="POST" action="" enctype="multipart/form-data" id="CustomerCreateModalsFormId" data-uuid="">
                    <h6 class="heading-small text-muted mb-4">Thông tin khách hàng</h6>
                    <div class="row gx-2 mb-2">
                        <div class="mb-1 col-xl-4">
                            <label class="small mb-1">Tên khách hàng
                            </label>
                            <input id="name_customerCreateModalInputId"  name="name" class="dvd-required form-control" placeholder="Nhập name" required type="text">
                        </div>
                        <div class="mb-1 col-xl-4">
                            <label class="small mb-1">Số điện thoại
                            </label>
                            <input id="tele_phoneCreateModalInputId" name="phone_number" class="dvd-required form-control" placeholder="Nhập SĐT" required type="text">
                        </div>
                        <div class="mb-1 col-xl-4">
                            <label class="small mb-1">Email
                            </label>
                            <input id="emailCreateModalInputId" name="email" class="dvd-required form-control" placeholder="Nhập Email" required type="text">
                        </div>
                    </div>
                </form>
                <hr>
                <form method="POST" action="" enctype="multipart/form-data" id="AddressCreateModalsFormId" data-uuid="">
                    <h6 class="heading-small text-muted mb-4">Thông tin địa chỉ khách hàng</h6>
                    <div class="row gx-2 mb-2">
                        <div class=" mb-1 col-xl-6">
                            <label class="small mb-1">Huyện/Thành phố
                            </label>
                            <input id="cityCreateModalInputId" name="city" class="dvd-required form-control" placeholder="Nhập tên Huyện/Thành phố" required type="text">
                        </div>
                        <div class="mb-1 col-xl-6">
                            <label class="small mb-1">Xã/Phường
                            </label>
                            <input id="stateCreateModalInputId" name="state" class="dvd-required form-control" placeholder="Nhập tên Xã/Phường" required type="text" >
                        </div>
                        <div class="mb-1 col-xl-12">
                            <label class="small mb-1">Địa chỉ cụ thể</label>
                            <input id="addressCreateModalInputId" name="address" class="dvd-required form-control" placeholder="Nhập số nhà, tên đường..." required type="text">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button id="OrderCancelModalBtnId" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" ><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                    <button id="OrderCreateModalBtnId" type="button" class="btn btn-primary btn-sm"><i class="fas fa-credit-card"></i></i>&nbsp;Lưu</button>
                    <button id="OrderTestModalBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
                </div>
            </div>
        </div>
    </div>
</div>