{% extends 'ebook/base.html' %}
{% block title %}
    Profile
{% endblock title %}

{% block content %}
<div class="text-center">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock content %}