{% extends 'ebook/base.html' %}
{% block title %}
    Profile
{% endblock title %}

{% block content %}
    <div class="card container mt-5 mb-5">
    	<div class="card-body">
    		<h5 class="card-title text-center">Thông tin cá nhân</h5>
            <p class="card-text">Xin chào <strong>{{ user.full_name }}</strong></p>
            <p class="card-text">Bạn đang đăng nhập với tài khoản <strong>{{ user.username }}</strong></p>
            <p class="card-text">Avatar: {{user.avatar}}</p>
            <p class="card-text">Số điện thoại: <strong>{{ user.phone_number }}</strong></p>
            <p class="card-text">Email: <strong>{{ user.email }}</strong></p>
            <p class="card-text">Địa chỉ: <strong>{{ user.address }}</strong></p>
    		<p class="card-text">Ngày gia nhập: <strong>{{ user.date_joined }}</strong></p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Sửa thông tin
            </button>
            <p class="card-text mt-2"><strong>* Lưu ý: </strong>Sau khi cập nhật thông tin vui lòng Refresh (F5) để tải lại trang.</p>
    	</div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Điều chỉnh thông tin</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="modal-body">
                            {{form.as_p}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}