{% extends 'ebook/base.html' %}
{% load static %}
{% block title %}
	Cart
{% endblock title %}

{% block content %}
	<div class="container table-responsive mb-5">
		<table class="table caption-top table-hover align-middle">
			<caption class="text-center fw-bold">Giỏ Hàng</caption>
			<thead>
			  <tr>
					<th class="text-center fw-bold">STT</th>
                    <th attr-name="code_inline" class="text-center fw-bold" style="min-width:250px">Bìa</th>
                    <th attr-name="name_inline" class="text-center fw-bold" style="min-width:250px">Tên sách</th>
                    <th attr-name="value_inline" class="text-center fw-bold" style="min-width:250px">Giá</th>
                    <th attr-name="store-admin-action" class="text-center fw-bold">Thao tác</th>
			  </tr>
			</thead>
			<tbody id="CartbodyTB">
			</tbody>
		  </table>
	</div>
{% endblock content %}