{% extends 'ebook/base.html' %}
{% load static %}

{% block title %}
	Contact
{% endblock title %}

{% block content %}
    <!--contact section start-->
    <div class="row container">
      	<div class="col-lg-6 container">
	      	<h2><i class="fa fa-university me-3"></i>Thông tin liên hệ</h2>
	        <div><i class="fas fa-map-marker-alt me-3"></i>Thanh Trì, Hà Nội, Việt Nam</div>
	        <div><i class="fas fa-envelope me-3"></i>dovanduy552@gmail.com</div>
	        <div><i class="fas fa-phone me-3"></i>+84 374 05 05 00</div>
	        <div><i class="fas fa-clock me-3"></i>Mon - Fri 8:00 AM to 21:00 PM</div>
      	</div>
      	<div class="row col-lg-6">
	        <h2><i class="fa fa-envelope me-3 mb-3"></i>Để lại lời nhắn cho chúng tôi</h2>
		    <form class="row" action="">
		    	{% csrf_token %}
		        <div class="col-lg-3">
			        <input type="text" id="contactname" class="rounded-2 w-auto p-2 mb-3"placeholder="Họ và Tên của bạn" required>
			        <input type="email" id="contactemail" class="rounded-2 w-auto p-2 mb-3" placeholder="Email của bạn" required>
			        <input type="text" id="contactphone" class="rounded-2 w-auto p-2 mb-3" placeholder="Số điện thoại của bạn" required>
				</div>
				<div class="col-lg-3 container">
			        <textarea class="form-control mb-3" 
								type="text" 
								id="contactMessage" 
								rows="4" cols="50" maxlength="1000"
								placeholder="Nội dung lời nhắn" 
								required></textarea>
			        <button class="bg-primary text-white p-2 rounded-1 mb-3" 
			        	type="submit" onclick=postContact()>
			        	Gửi lời nhắn
			        </button>
		    	</div>
		    </form>
      	</div>
    </div>
    <!--contact section end-->
{% endblock content %}