{% extends 'ebook/base.html' %}
{% load static %}
{% block title %}
	Detail
{% endblock title %}

{% block category %}
	{% if categorys %}
		{% for category in categorys %}
			<li><a class="dropdown-item" href="#">{{category.name}}</a></li>
		{% endfor %}
	{% endif %}
{% endblock category %}

{% block content %}
	<div class="container-fluid text-center mt-5">
		<img src="{{object.image.url}}" height="300px">
	</div>

	<div class="container-fluid mt-5 bg-secondary rounded-5">
		<h3 class="text-warning"><b>-- Thông tin chi tiết sản phẩm:</b></h3>
		<h4 class="mt-5"><b>Tên sách: </b><span>{{ object.name }}</span></h4>
		<h4 class="mt-5"><b>Danh mục: </b><span>{{ object.scategory }}</span></h4>
		<h4 class="mt-5"><b>Tác giả: </b><span>{{ object.author }}</span></h4>
		<h4 class="mt-5"><b>Giá bán: </b><span>{{ object.price }} VNĐ</span></h4>
		<h4 class="mt-5"><b>Số lượng còn lại: </b><span>{{ object.stock }} Cuốn</span></h4>
		<h4 class="mt-5"><b>Nhà xuất bản: </b><span>{{ object.publisher }}</span></h4>
		<h4 class="mt-5"><b>Năm xuất bản: </b><span>{{ object.year }}</span></h4>
		<h4 class="mt-5"><b>Người bán: </b><span>{{ object.created_by }}</span></h4>
		<h4 class="mt-5"><b>Mô tả sản phẩm: </b><article>{{ object.description }}</article></h4>

	</div>

	<div class="container text-center">
		{% if object.stock %}
			<button class="btn btn-danger mt-5 mb-5" onclick = "OrderCreateModal('{{ object.uuid }}', '{{object.name}}', {{object.price}})">Mua ngay</button>
		{% else %}
			<button class="btn btn-danger mt-5 mb-5">Hết hàng</button>
		{% endif %}

	</div>
	<div class="container-xl px-4 mt-n10">
		{% csrf_token %}
		<br>{% include 'store/includes/Order--includes.html' %}
	</div>
{% endblock content %}