{% extends 'ebook/base.html' %}
{% load static %}
{% load humanize %} 
{% block title %}
	Book store
{% endblock title %}

{% block category %}
	{% if categorys %}
		{% for category in categorys %}
			<li class="dropdown-item" onclick="ProductFilter('{{category.uuid}}')">{{category.name}}</li>
		{% endfor %}
	{% endif %}
{% endblock category %}

{% block content %}
	<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{% static 'banner/banner.png' %}" class="d-block w-100" alt="..." height="400px">
			</div>
			<div class="carousel-item">
				<img src="{% static 'banner/8-3.png' %}" class="d-block w-100" alt="..." height="400px">
			</div>
			<div class="carousel-item">
				<img src="{% static 'banner/sale.png' %}" class="d-block w-100" alt="..." height="400px">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<div class="container text-center">
		<div id="StoreProduct" class="row mt-5 mb-3 container">
			{% for product in products.object_list %}
				<div class="card col-4 mb-5">
					<div class="card-header">
						{{product.name}}
					</div>
					<div class="card-body">
						<div class="d-inline">
							<img src="{{product.image.url}}" height="100px">
						</div>
					</div>
					<div class="card-footer">
						<div class="d-inline text-start mx-2">{{product.convert_money}} VNĐ</div>
						<div class="d-inline">
							<a href="{% url 'detail' product.uuid %}" class="btn btn-outline-success">	
								<i class="far fa-eye"></i>
							</a>
						</div>
						<div class="d-inline text-center">
							<button type="button" 
								class="btn btn-outline-info" 
								onclick = "addCart('{{ product.uuid }}')">
								<i class="fas fa-cart-plus"></i>
							</button>
						</div>
						<div class="d-inline">
							<button class="btn btn-outline-danger"
								onclick = "OrderCreateModal('{{ product.uuid }}', '{{product.name}}', {{product.price}})">
								<i class="fas fa-credit-card"></i>
							</button>
						</div>
					</div>
				</div>	
			{% endfor %}
		</div>
	</div>

	<div class="text-center mb-5" id="pagination">
		{% if products.has_previous %}
			<a href="?page={{ products.previous_page_number }}" class="btn btn-outline-danger">
				Previous
			</a>
		{% endif %}
		<button class="btn btn-warning">
			Trang {{ products.number }}/{{ products.paginator.num_pages }}
		</button>
		{% if products.has_next %}
			<a href="?page={{ products.next_page_number }}" class="btn btn-outline-success">
				Next
			</a>
		{% endif %}
	</div>

	<div class="container-xl px-4 mt-n10">
		{% csrf_token %}
		<br>{% include 'store/includes/Order--includes.html' %}
	</div>

{% endblock content %}