{% extends 'ebook/base.html' %}
{% load static %}
{% block title %}
	Order
{% endblock title %}

{% block content %}
    <h3 class="text-center">Tất cả đơn hàng của bạn</h3>
    <div class="row gx-2 mb-2 mb-3" id="OrderForUserId" style = "width:100%;">
    </div>
{% endblock content %}