{% extends 'ebook/base.html' %}
{% load static %}

{% block title %}
	About Us
{% endblock title %}

{% block content %}
	<div class="card text-bg-dark">
	  	<img src="{% static 'images/ebook_bg.png' %}" class="card-img" alt="#">
	  	<div class="card-img-overlay">
	    	<h2 class="card-title">Tri thức là sức mạnh</h2>
	    	<p class="card-text">eBooks là dự án do sinh viên: Đỗ Văn Duy - khoa: Công nghệ thông tin của Trường Đại học Mỏ - Địa chất thực hiện với mục đích làm "Đồ Án tốt nghiệp". Nó được phát triển trong quá trình học tập nên nhiều chức năng sẽ bị thiếu sót và là ứng dụng hoàn toàn miễn phí. Vậy nên, sẽ có nhiều hình ảnh hay thứ gì đó liên quan đến bản quyền nên tôi mong muốn mọi người có thể liên hệ để có thể sửa chữa kịp thời.</p>
	    	<p class="card-text">eBook giúp cho những người có sở thích đọc sách nhưng ít có thời gian ra tiệm sách có thể đọc được những cuốn sách mà họ mong muốn thông qua eBook này. eBook giúp tiết kiệm thời gian cho người đọc khi có thể tìm kiếm nhanh chóng và dễ dàng.</p>
	  </div>
	</div>

	<br>
	<div class="container mb-3">
		<hr>
	</div>
	<br>
	<div>
		<div class="card mb-3" style="max-width: 2000px;">
		  	<div class="row g-0">
		    	<div class="col-md-6">
		      		<img src="{% static 'images/ebook_1.jpg' %}" class="img-fluid rounded-start" alt="">
		    	</div>
		    	<div class="col-md-6 bg-secondary bg-secondary bg-gradient">
		      		<div class="card-body">
		        		<h2 class="card-title">Sứ mệnh</h2>
		        		<p class="card-text">Không ngừng cải tiến chất lượng, cập nhật liên tục nhưng cuốn sách mới mỗi giây, luôn ghi nhận những đóng góp, ý kiến của mọi người để phát triển trang web trở nên phổ biến hơn.</p>
		        		<p class="card-text">Luôn đi đúng hướng với mục đích đặt ra ban đầu, không ngừng nâng cấp, nâng cao chất lượng dịch vụ và đa dạng lĩnh vực. Tạo niềm tin với người dùng và hướng tới phát triển lâu dài.</p>
		      		</div>
		    	</div>
		  	</div>
		</div>

		<div class="card mb-3" style="max-width: 2000px;">
		  	<div class="row g-0">
		    	<div class="col-md-6">
		      		<div class="card-body">
		        		<h2 class="card-title">Tầm nhìn</h2>
		        		<p class="card-text">Trở thành website sách điện tử hàng đầu, phổ biến trên toàn lãnh thổ Việt Nam.</p>
		        		<p class="card-text">Quyết tâm xây dựng tầm nhìn và khẳng định diện mạo nhằm phát triển không chỉ trong nước mà còn lan tỏa đến toàn thế giới. Hướng tới dẫn đầu Việt Nam và hội nhập tích cực với quốc tế. Trở nên dễ dàng tiếp cận với tất cả mọi người.</p>
		      		</div>
		    	</div>
		    	<div class="col-md-6">
		      		<img src="{% static 'images/ebook_2.png' %}" class="img-fluid rounded-start" alt="">
		    	</div>
		  	</div>
		</div>

		<div class="card mb-3" style="max-width: 2000px;">
		  	<div class="row g-0">
		    	<div class="col-md-6">
		      		<img src="{% static 'images/ebook_3.png' %}" class="img-fluid rounded-start" alt="">
		    	</div>
		    	<div class="col-md-6">
		      		<div class="card-body">
		        		<h2 class="card-title">Mục tiêu</h2>
		        		<p class="card-text">Mục tiêu phát triển và phục vụ khách hàng lâu nhất có thể. Luôn mang đến cho khách hàng những sản phẩm có chất lượng tốt nhất.</p>
		        		<p class="card-text">Quan điểm và mục tiêu của DMouse là đóng góp cho cộng đồng. Mở rộng các dịch vụ miễn phí cho mọi người. DMouse cũng kỳ vọng mang sách đến gần hơn với mọi người cũng như quảng bá được tầm quan trọng của tri thức.</p>
		        		<p class="card-text">DMouse sẽ cố gắng phát triển thành trang web có ích với mọi người.</p>
		      		</div>
		    	</div>
		  	</div>
		</div>
	</div>
{% endblock content %}