{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <title>{% block title %}{% endblock title %}</title>

        <!-- CSS -->
        <link href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-free-6.2.1-web/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <!-- JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="{% static 'bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js' %}" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

        <!-- Confirm & toastr-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <!-- <script src="{% static 'ebook/js/EBookConst.js' %}"></script> -->
        <script src="{% static 'ebook/js/BookAppConst.js' %}"></script>
        <script src="{% static 'ebook/js/EBookClasses.js' %}"></script>

        <!-- <script src="{% static 'store/js/storeConst.js' %}"></script> -->
        <script src="{% static 'store/js/storeClasses.js' %}"></script>

    </head>
    <body>
        <!--header-->
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url 'home_ebook' %}>
                    <img src="{% static 'images/logo.png' %}" width="90" height="60" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {%if nav == 'home_ebook'%}active{%endif%}" 
                            aria-current="page" href={% url 'home_ebook' %}>eBooks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {%if nav == 'home_store'%}active{%endif%}" 
                            href={% url 'home_store' %}>Store</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Danh mục
                            </a>
                            <ul class="dropdown-menu">
                                {% block category %}{% endblock category %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {%if nav == 'about'%}active{%endif%}" 
                            href="{% url 'about' %}">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {%if nav == 'contact'%}active{%endif%}" 
                            href= "{% url 'contact' %}">Liên hệ</a>
                        </li>
                    </ul>
                    <form class="d-flex mx-5" action="{% url 'home_store' %}" method="get">
                        <input class="form-control me-2" type="text" placeholder="Nhập từ khóa..." name="q">
                        <button class="btn btn-outline-success w-50">Tìm Kiếm</button>
                    </form>
                    <ul class="navbar-nav mx-5">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ user.username }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'profile' %}">Thông tin cá nhân</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cart' %}">Giỏ hàng</a></li>
                                    <li><a class="dropdown-item" href="{% url 'order' %}">Đơn hàng</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out mx-2"></i>Đăng xuất</a></li>
                                </ul>
                            </li>
                            <li>
                                <p class="text-white"><i class="fas fa-flag mx-2"></i>VN</p>
                            </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt mx-2"></i>Đăng nhập</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        
        {% block content %}{% endblock content %}

        <!-- Footer -->
        <footer class="bg-secondary text-white">
        <!-- Grid container -->
            <div class="container p-4">
            <!--Grid row-->
                <div class="row">
                <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">DMouse eBooks</h5>

                        <p>
                        Ebook là một loại sách điện tử được sử dụng thông qua các thiết bị cá nhân như máy tính,
                        smartphone, tablet. Mặc dù đây là một trong nhiều loại sách nhưng đây được coi là một loại file điện tử và được thiết kế giống sách thật nhưng là các tệp tin số.
                        </p>
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-1 col-md-6 mb-4 mb-md-0">
                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="{% url 'home_ebook' %}" class="text-reset">eBooks</a>
                        </p>
                        <p>
                            <a href="{% url 'home_store' %}" class="text-reset">Book Store</a>
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Customer service
                        </h6>
                        <p>
                            <a href="#" class="text-reset">Hỏi đáp - FAQs</a>
                        </p>
                        <p>
                            <a href="#" class="text-reset">Hình thức thanh toán</a>
                        </p>
                        <p>
                            <a href="#" class="text-reset">Chính sách bảo mật</a>
                        </p>
                        <p>
                            <a href="#" class="text-reset">Điều khoản</a>
                        </p>
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> Thanh Trì, Hà Nội, Việt Nam</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            dovanduy552@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> 0374.05.05.00</p>
                        <p><i class="fas fa-phone-volume me-3"></i> +84 374 05 05 00</p>
                    </div>
                </div>
            </div>

        <div class="container p-4 pb-0 text-center">
        <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn text-white btn-floating m-1"
                    style="background-color: #3b5998;"
                    href="https://www.facebook.com/duy552.py"
                    target="_blank" 
                    role="button"><i class="fab fa-facebook-f"></i>
                </a>

                <!-- messenger -->
                <a class="btn text-white btn-floating m-1"
                    style="background-color: #55acee;"
                    href="https://www.facebook.com/messages/t/100005044969225"
                    target="_blank" 
                    role="button"><i class="fa-brands fa-facebook-messenger"></i>
                </a>

                <!-- Mail -->
                <a class="btn text-white btn-floating m-1"
                    style="background-color: #dd4b39;"
                    href="https://mail.google.com/mail/u/0/#inbox"
                    target="_blank"
                    role="button"><i class="fab fa-google"></i>
                </a>

                <!-- Instagram -->
                <a class="btn text-white btn-floating m-1"
                    style="background-color: #ac2bac;"
                    href="https://instagram.com/dovanduy552"
                    target="_blank"
                    role="button"><i class="fab fa-instagram"></i>
                </a>

                <!-- Youtube -->
                <a class="btn text-white btn-floating m-1"
                    style="background-color: red;"
                    href="https://www.youtube.com/"
                    target="_blank"
                    role="button"><i class="fab fa-youtube"></i>
                </a>
                <!-- Github -->
                <a class="btn text-white btn-floating m-1"
                    style="background-color: #333333;"
                    href="https://github.com/DoDuy-Py"
                    target="_blank"
                    role="button"><i class="fab fa-github"></i>
                </a>
            </section>
            <!-- Section: Social media -->
        </div>

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="#">DMouse</a>
            </div>
        </footer>

    </body>
</html>