{% extends 'ebook/base.html' %}
{% block title %}
	Community Messages
{% endblock title %}

{% block content %}
	<div id="" class="container-sm mt-5 mb-5">
		<div class="card text-center rounded-5">
			<div class="card-header bg-info text-white">
				TIN NHẮN CỘNG ĐỒNG
			</div>
			<div id="" class="card-body bg-secondary text-white">
				{% if messages %}
					{% for message in messages %}
						{% if message.user_id != request.user %}
							<div class="text-start">
								<span>@<span>{{message.user_id}}</span> <i style="font-size: 10px;">{{message.time_send}}</i></span>
								<p>{{message.message}}</p>
							</div>
						{% else %}
							<div class="text-end">
								<span>@<span>{{message.user_id}}</span> <i style="font-size: 10px;">{{message.time_send}}</i></span>
								<p>{{message.message}}</p>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
			<div class="card-footer bg-dark">
				<form id="ebookFeedbackInput">
					<textarea class="form-control mt-5" 
								type="text" 
								id="message" 
								rows="4" maxlength="1000"
								placeholder="Nhập tin nhắn" 
								required>
					</textarea>
					<button class="btn btn-primary mt-3" type="submit" onclick=postFeedback()>
						<i class="fa fa-paper-plane"> </i>
						Send
					</button>
				</form>
            </div>
		</div>
	</div>
{% endblock content %}