{% extends 'ebook/base.html' %}
{% block title %}
    Contribute
{% endblock title %}

{% block content %}
<div class="card container mt-5 mb-5">
    <form method="POST">
        <div class="modal-body row">
            {% csrf_token %}
            <div class="col">
                <div class="d-block mt-4">                  
                    <label for="{{ form.ebook_cover.id_for_label }}">Bìa sách:</label>
                </div>
                <div class="d-block mt-4">
                    <label for="{{ form.ebook_title.id_for_label }}">Tên sách:</label>
                </div>
                <div class="d-block mt-4"> 
                    <label for="{{ form.pdf.id_for_label }}">File PDF:</label>
                </div>
                <div class="d-block mt-4">
                    <label for="{{ form.author.id_for_label }}">Tác giả:</label>
                </div>
                <div class="d-block mt-4">
                    <label for="{{ form.category.id_for_label }}">Loại sách:</label>
                </div>
                <div class="d-block mt-4">
                    <label for="{{ form.source.id_for_label }}">Nguồn sách:</label>
                </div>
            </div>
            <div class="col">
                <div class="d-block mt-4">
                    {{ form.ebook_cover }}
                    {{ form.ebook_cover.errors }}
                </div>
                <div class="d-block mt-3">
                    {{ form.ebook_title }}
                    {{ form.ebook_title.errors }}
                </div>
                <div class="d-block mt-3">
                    {{ form.pdf }}
                    {{ form.pdf.errors }}
                </div>
                <div class="d-block mt-3">
                    {{ form.author }}
                    {{ form.author.errors }}
                </div>
                <div class="d-block mt-3">
                    {{ form.category }}
                    {{ form.category.errors }}
                </div>
                <div class="d-block mt-4">
                    {{ form.source }}
                    {{ form.source.errors }}
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary">
                <i class="fa fa-paper-plane"> </i> 
                Submit
        </button>
        </div>
    </form>
</div>
{% endblock content %}