{% extends 'ebook/base.html' %}
{% block title %}
    eBooks
{% endblock title %}

{% block content %}
    <nav class="navbar bg-body-tertiary mt-5 mb-5">
        <div class="container-fluid container">
            <div class="card-header">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'contribute' %}" class="btn btn-light" >
                        <i class="fas fa-file-alt text-primary me-2"></i>
                        Đóng góp
                    </a>
                {% else %}
                    <button type="button" class="btn btn-light ms-5"
                        data-bs-toggle="modal" 
                        data-bs-target="#exampleModal">
                        <i class="fas fa-file-alt text-primary me-2"></i>
                            Đóng góp
                    </button>
                    <div class="modal fade" id="exampleModal" 
                        tabindex="-1" aria-labelledby="exampleModalLabel" 
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Đóng góp eBook</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" 
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Vui lòng đăng nhập để sử dụng chức năng này.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" 
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                
                {% if request.user.is_authenticated %}
                    <button type="button" class="btn btn-light ms-5">
                        <i class="fas fa-comment-alt text-primary me-2"></i>
                        <a href="{% url 'messages' %}" class="text-dark">Tin nhắn cộng đồng</a>
                    </button>
                {% else %}
                    <button type="button" class="btn btn-light ms-5"
                        data-bs-toggle="modal" 
                        data-bs-target="#message">
                        <i class="fas fa-comment-alt text-primary me-2"></i>
                        Tin nhắn cộng đồng
                    </button>
                    <div class="modal fade" id="message" 
                        tabindex="-1" aria-labelledby="exampleModalLabel" 
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tin nhắn cộng đồng</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" 
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Vui lòng đăng nhập để sử dụng chức năng này.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" 
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <form class="d-flex" action="{% url 'home_ebook' %}" method="get">
                <input class="form-control me-2" type="text" placeholder="Nhập từ khóa" name="q">
                <button class="btn btn-outline-info w-50" >Tìm kiếm</button>
            </form>
        </div>
    </nav>

    <table class="table table-bordered text-center mb-5 container align-middle">
        <thead>
            <tr>
                <th scope="col">Bìa sách</th>
                <th scope="col">Tên sách</th>
                <th scope="col">Tác giả</th>
                <th scope="col">PDF</th>
                <th scope="col">Tải về</th>
                <th scope="col">Bản cứng</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% if ebooks.object_list %}
                {% for book in ebooks.object_list %}
                    <tr>
                        <td><img src="{{book.ebook_cover.url}}" 
                            class="img-fluid" 
                            height="130px" 
                            style="max-width: 80px;">
                        </td>
                        <td>{{book.ebook_title}}</td>
                        <td>{{book.author}}</td>
                        <td><a href="{{ book.pdf.url }}" 
                            class="fa fa-eye btn btn-outline-primary" 
                            target="_blank"></a>
                        </td>
                        <td><a href="{{ book.pdf.url }}" 
                            class="fa fa-download btn btn-outline-success" 
                            target="_blank" 
                            download=""></a>
                        </td>
                        {% if book.sell %}
                            <td>
                                <button class="btn btn-outline-danger"
                                    onclick = "OrderCreateModal('{{ book.uuid }}', '{{book.ebook_title}}', {{book.price}})">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </td>
                        {% else %}
                            <td><button type="button" 
                                class="fa fa-shopping-cart btn btn-outline-secondary disabled"></button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <div class="text-center mb-3" id="pagination">
        {% if ebooks.has_previous %}
            <a href="?page={{ ebooks.previous_page_number }}" class="btn btn-outline-danger">
                Previous
            </a>
        {% endif %}
        <button class="btn btn-warning">
            Trang {{ ebooks.number }}/{{ ebooks.paginator.num_pages }}
        </button>
        {% if ebooks.has_next %}
            <a href="?page={{ ebooks.next_page_number }}" class="btn btn-outline-success">
                Next
            </a>
        {% endif %}
    </div>

    <div class="container-xl px-4 mt-n10">
		{% csrf_token %}
		<br>{% include 'store/includes/Order--includes.html' %}
	</div>

{% endblock content %}